.header{
    position: sticky;
    outline: auto;
    padding: 1vw;
    font-style: italic;
    text-align: end;
    margin-right: 5vw;
    margin-left: 5vw;
    border: 10px;
    display: flex;
}
.heading{
    box-shadow: 0 0 12px -2px black;
    /* position: fixed  */
    left: 0;
    right: 0;
    align-items: center;
    background-color: #260909;
    color: rgb(2, 33, 60);
    display: flex;
    height: 55px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.dawson{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(135, 117, 55);
    font-size: 3vw;
    
}
/* research how to change link color */
/* .links{ */
a:link {
    text-decoration: none;
    color: #c08206;
    text-decoration-line: underline;
}
    
.portrait{
    display: flex;
    width: 85px;
    height: 200px;
    margin-left: 30vw;
    vertical-align: bottom;
}
body{
    background-color: rgb(120, 119, 119);
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: rgb(0, 0, 0);
   
}
.hellen{
    font-size:larger;
    display: flex;
    margin-inline-start: 20vw;
    margin-inline-end: 20vw;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}
.keller{
    display: flex;
    text-align: center;
    justify-content: center;
}
.home-body{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
    vertical-align: bottom;
}
.intro{
    margin-left: 8vw;
    margin-right: 20vw;
    vertical-align: bottom;
    display: flex;
    flex-wrap: wrap;
}
.feature-title{
    color: rgba(142, 111, 0, 0.733);
    font-style: oblique;
    text-align: center;
    outline: auto;
    text-decoration: wavy  ;
    background-color: rgba(32, 0, 0, 0.936);

}
.golfimg{
    display: flex;
    width: auto;
    height: 200px;
    }
.golf{
    display:inline-flex;
    justify-content: center;
    margin-right: 10vw;
    margin-left: 10vw;
    font-family: sans-serif;
    

}
.golfpara{
    text-align: center;
    margin-inline-end: 20px;
    margin-inline-start: 50px;
    flex-wrap:wrap;
    font-size: 20px;
    vertical-align: bottom;
    margin-top: 4vw;
        
}
.about-desc{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.gameimg{
    display: flex;
    height: 200px;
    width: 200px;
}
.gamebody{
    display: flex;
    margin-top: 7vw;
    margin-right: 10vw;
    margin-left: 10vw;
    justify-content: space-evenly;
    font-family: sans-serif;
}
.gamingp{
    display: flex;
    vertical-align: center;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 20px;
}
.cta1{
    display: block;
    justify-content: center;
    margin-right: 700px;
}
@media screen and (max-width: 700px)
{
    body{background-color: rgb(57, 57, 66);}
    .dawson{color:rgb(200, 164, 4)}
    body{color: rgb(172, 118, 0);}
}

    